#<IfModule mod_rewrite.c>
#    RewriteEngine on
#    RewriteRule    ^$    web/    [L]
#    RewriteRule    (.*) web/$1    [L]
# </IfModule>
<IfModule mod_rewrite.c>
RewriteEngine On
#RewriteBase /
RewriteRule ^(.+)?/(.+)? /index.php?controller=$1&method=$2 [QSA]
</IfModule>